{% set bg_classes = {"primary":"background-color-primary","secondary":"background-color-secondary","inverse":"theme-inverse"} %}
<section class="section_cta-band" id="cta" data-cta data-nav-theme="inverse">
<div class="cta-band_background">
<picture>
<source media="(max-width: 767px)" srcset="{% if '/litora/images/' in module.imageTall.src %}/hubfs/{{ (module.imageTall.src|split('/hubfs/' ~ hub_id ~ '/'))|last|replace('-824.', '-488.') }} 488w, /hubfs/{{ (module.imageTall.src|split('/hubfs/' ~ hub_id ~ '/'))|last|replace('-824.', '-824.') }} 824w{% else %}/hs-fs/hubfs/{{ (module.imageTall.src|split('/hubfs/' ~ hub_id ~ '/'))|last }}?width=488 488w, /hs-fs/hubfs/{{ (module.imageTall.src|split('/hubfs/' ~ hub_id ~ '/'))|last }}?width=824 824w{% endif %}" sizes="100vw" width="{{ module.imageTall.width }}" height="{{ module.imageTall.height }}">
<img class="cta-band_image" src="{{ resize_image_url(module.image.src, 1280) }}" srcset="{% if '/litora/images/' in module.image.src %}/hubfs/{{ (module.image.src|split('/hubfs/' ~ hub_id ~ '/'))|last|replace('-1920.', '-1280.') }} 1280w, /hubfs/{{ (module.image.src|split('/hubfs/' ~ hub_id ~ '/'))|last|replace('-1920.', '-1920.') }} 1920w{% else %}/hs-fs/hubfs/{{ (module.image.src|split('/hubfs/' ~ hub_id ~ '/'))|last }}?width=1280 1280w, /hs-fs/hubfs/{{ (module.image.src|split('/hubfs/' ~ hub_id ~ '/'))|last }}?width=1920 1920w{% endif %}" sizes="100vw" width="{{ module.image.width }}" height="{{ module.image.height }}" alt="{{ module.image.alt|escape_attr }}" loading="lazy" decoding="async" data-cta-image>
</picture>
<div class="cta-band_veil" aria-hidden="true"></div>
</div>
<div class="padding-global padding-section-small">
<div class="container-large">
<div class="cta-band_layout">
<div class="cta-band_top">
<p class="cta-band_text text-size-large" data-reveal>{{ module.text|escape_html }}</p>
<div class="cta-band_action" data-reveal><a class="button" href="{{ module.buttonTarget|escape_attr }}"><span class="button_text-wrap"><span class="button_text">{{ module.buttonLabel|escape_html }}</span><span class="button_text is-clone" aria-hidden="true">{{ module.buttonLabel|escape_html }}</span></span></a></div>
</div>
<h2 class="cta-band_heading" data-reveal>{{ module.heading|escape_html|replace("EB-5", '<span class="text-style-nowrap">EB-5</span>') }}</h2>
</div>
</div>
</div>
</section>
